<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <property name="LOG_HOME" value="${user.dir}/logs"/>
    <property name="LOG_FILE" value="kj-repo"/>
    <property name="logPattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %X{UUID} [%thread] %-5level %t \\(%F:%L\\)-%msg%n"></property>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${logPattern}</pattern>
            <prudent>true</prudent>
        </encoder>
    </appender>

    <appender name="kjRepoAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="kjRepoAsyncSync"/>
    </appender>

    <appender name="kjRepoAsyncSync" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${LOG_FILE}.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>${KJ_REPO_LOG_MAX_HISTORY:-15}</maxHistory>
            <maxFileSize>${KJ_REPO_LOG_MAX_FILE_SIZE:-500MB}</maxFileSize>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${logPattern}</pattern>
            <prudent>true</prudent>
        </encoder>
    </appender>

    <appender name="kjRepoSync" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE}-sync.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${LOG_FILE}-sync.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>${KJ_REPO_LOG_MAX_HISTORY:-15}</maxHistory>
            <maxFileSize>${KJ_REPO_LOG_MAX_FILE_SIZE:-500MB}</maxFileSize>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${logPattern}</pattern>
            <prudent>true</prudent>
        </encoder>
    </appender>
    <logger name="com.kj.repo" level="${KJ_REPO_LOG_LEVEL:-info}" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="kjRepoAsync"/>
    </logger>
    <logger name="sync.com.kj.repo" level="${KJ_REPO_LOG_LEVEL:-info}" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="kjRepoSync"/>
    </logger>

    <root level="${KJ_REPO_LOG_ROOT_LEVEL:-error}">
        <appender-ref ref="stdout"/>
        <appender-ref ref="kjRepoAsync"/>
    </root>
</configuration> 